CompileFlags:
  CompilationDatabase: ./build/
  Add: -I/mnt/main_disk/vulkansdk_1.3.296.0/x86_64/include
 
Hover:
  ShowAKA: Yes

InlayHints:
  Designators: Yes
  Enabled: Yes
  ParameterNames: No
  DeducedTypes: Yes

Diagnostics:
  Suppress: 
    - unused-includes
    - -Wparentheses
